<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name=viewport content="width=device-width, initial-scale=1">

        <title>{% block title %}{{global.title}}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@app_css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts '@app_js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}

    <div class="container">
        <div class="global-footer">
            {{global.footer|raw}}
        </div>
    </div>

</body>
</html>
