{% extends '::base_admin.html.twig' %}

{% block content -%}
    <h1>Hotel list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Stars</th>
                <th>Country</th>
                <th>City</th>
                <th>Contactid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_hotel_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.stars }}</td>
                    <td>{{ entity.country }}</td>
                    <td>{{ entity.city }}</td>
                    <td>{{ entity.contactId }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_hotel_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_hotel_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_hotel_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
